<!DOCTYPE html>
<html ng-app="store">
    <head>
        <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css" />
        <style>
            .ng-invalid.ng-dirty {
                border-color: #FA787E;
            }

            .ng-valid.ng-dirty {
                border-color: #78FA89;
            }
        </style>
    </head>
    <body class="list-group" ng-controller="StoreController as store">
        <header>
            <h1 class="text-center">Flatlander Crafted Gems</h1>
            <h2 class="text-center">– an Angular store –</h2>
        </header>
        <div class="list-group-item" ng-repeat="product in store.products">
            <product-title></product-title>
            <section ng-show="product.images.length">
                <img ng-src="{{product.images[0]}}" />
                <ul class="list-inline thumbs">
                    <li class="thumbnail" ng-repeat="image in product.images">
                        <img ng-src="{{image}}" />
                    </li>
                </ul>
            </section>

            <product-panels></product-panels>
        </div>

        <script type="text/javascript" src="../vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>